.header{
    
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 30px;
    background-color: #000;
    max-width: 500px;
    margin: 10px auto 0;

    .link{

        color: #fff;
        text-decoration: none;
        transition: 0.3s;

        &:hover{

            color: #d0d0d0;
            transition: 0.3s;
        }

        &.active{

            color: #d0d0d0;
        }

    }
}